GROQ_API_KEY1="api_key1"
GROQ_API_KEY2="api_key2"
PINECONE_API_KEY="pinecone_api_key"
PINECONE_INDEX="pinecone_index"
NEO4J_URI="neo4j_uri"
NEO4J_USERNAME="neo4j_username"
NEO4J_PASSWORD="neo4j_password"